{{#> main}}
{{#*inline "content"}}
<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
   <div class="card-body px-4 py-3">
      <div class="row align-items-center">
         <div class="col-9">
            <h4 class="fw-semibold mb-8">{{#if servidor}}Atualização{{else}}Novo{{/if}} Servidor</h4>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"> <a class="text-muted text-decoration-none" href="/">Home</a> </li>
                  <li class="breadcrumb-item" aria-current="page"> <a class="text-muted text-decoration-none"
                        href="/servidores">Servidores</a> </li>
               </ol>
            </nav>
         </div>
         <div class="col-3">
            <div class="text-center mb-n5"> <img src="../assets/images/breadcrumb/ChatBc.png" alt="modernize-img"
                  class="img-fluid mb-n4"> </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-12">
      {{!-- <form action="/servidores/novo" --}}
      <form action="{{#if servidor}}/servidores/{{servidor.id}}/atualizacao{{else}}/servidores/novo{{/if}}"
         method="post">
         <div class="card">
            <div class="px-4 py-3 border-bottom">
               <h4 class="card-title mb-0">{{#if servidor}}Atualização de{{else}}Cadastro de Novo{{/if}} Servidor</h4>
            </div>
            <div class="card-body p-4 border-bottom">

               {{#if flashErrors}}
               <div class='alert alert-danger'>
                  {{#each flashErrors}}
                  <p style="margin: 0; padding: 0;"> {{message}} </p>
                  {{/each}}
               </div>
               {{/if}}

               {{#if flashErrors}}
               <div class='alert alert-danger'>
                  {{#each flashErrors}}
                  {{#each messages}}
                  <p style="margin: 0; padding: 0;"> {{this}} </p>
                  {{/each}}
                  {{/each}}
               </div>
               {{/if}}

               <h5 class="fs-4 fw-semibold mb-4">Informações pessoais</h5>
               <div class="row">
                  <div class="col-lg-6">
                     <div class="mb-4">
                        <label class="form-label">Nome completo</label>
                        <div class="input-group">
                           <span class="input-group-text px-6" id="basic-addon1">
                              <i class="ti ti-user fs-6"></i> </span>

                           <input type="text" class="form-control ps-2" name="nome"
                              value="{{setValue old.nome servidor.nome}}"
                              placeholder="Informe o nome completo do servidor">

                        </div>
                        {{#each (error-messages errors 'nome')}}
                        <p class="text-danger" style="margin: 0; padding: 0;"><small>{{this}}</small></p>
                        {{/each}}
                     </div>
                     <div>
                        <label class="form-label">Telefone</label>
                        <div class="input-group">
                           <span class="input-group-text px-6" id="basic-addon1">
                              <i class="ti ti-phone fs-6"></i> </span>
                           <input type="text" class="form-control ps-2" name="telefone" placeholder="(69) 99200-0102">
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="mb-4">
                        <label class="form-label">CPF</label>
                        <div class="input-group"> <span class="input-group-text px-6" id="basic-addon1"> <i
                                 class="ti ti-building-arch fs-6"></i> </span> <input type="text"
                              class="form-control ps-2" name="cpf" value="{{setValue old.cpf servidor.cpf}}"
                              placeholder="Informe o CPF. Exemplo: 123.456.789-01"> </div>
                        {{#each (error-messages errors 'cpf')}}
                        <p class="text-danger" style="margin: 0; padding: 0;"><small>{{this}}</small></p>
                        {{/each}}
                     </div>
                     <div>
                        <label class="form-label">E-mail</label>
                        <div class="input-group"> <span class="input-group-text px-6" id="basic-addon1"> <i
                                 class="ti ti-mail fs-6"></i> </span> <input type="text" class="form-control ps-2"
                              name="email" placeholder="Informe o e-mail. Ex.: joao@gmail.com"> </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="card-body p-4">
               <h5 class="fs-4 fw-semibold mb-4">Informações da empresa</h5>
               <div class="row">
                  <div class="col-lg-6">
                     <div class="mb-4">
                        <label class="form-label">SIAPE</label>
                        <div class="input-group"> <span class="input-group-text px-6" id="basic-addon1"> <i
                                 class="ti ti-building-arch fs-6"></i> </span> <input type="text" value="{{setValue old.siape servidor.siape}}"
                              class="form-control ps-2" name="siape" placeholder="Informe o número do SIAPE."> </div>
                     </div>
                     <div class="mb-4">
                        <label class="form-label">Campus</label>
                        <select class="form-select" name="campus">
                           <option>Selecione um campus</option>

                           {{#each campi}}
                              <option value="{{this.id}}" {{selected-option this.id ../servidor.campus.id ../old.campus}}>{{this.nome}}</option>
                           {{/each}}
                        </select>
                     </div>
                     <div class="mb-4"> {{!-- <label for="exampleInputBirthDate" class="form-label">Birth Date</label>
                        <input id="exampleInputBirthDate" class="form-control" type="date"> --}}
                     </div>
                  </div>
                  <div class="col-12">
                     <div class="d-flex align-items-center gap-3"> <button type="submit"
                           class="btn btn-primary">Salvar</button> <button
                           class="btn bg-danger-subtle text-danger">Cancelar</button> </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
{{/inline}}
{{/main}}